mixin fieldText(ftext, ftype, fname, ftextDefault, fwidth)
	.text_H3= ftext
	input(type=ftype name=fname value=ftextDefault size=fwidth)
	
//type: range|text|email|date|number textDefault: email| This is pretty awesome|ДД:ММ:ГГ|
	