//include ../../lib/_var
mixin fieldsText(ftext1, ftext2)
	.layoutText
			.text_H3= ftext1
			.text_H3-normal.layoutTextDef= ftext2
mixin fieldText(ftype, fname, ftextDefault)
	input(type=ftype name=fname value=ftextDefault)
	
//type: range|text|email|date|number textDefault: email| This is pretty awesome|ДД:ММ:ГГ|
mixin fieldSelect(ftext1, ftext2, ftextDefault, foptions)
	.layoutText
		.text_H3= ftext1
		.text_H3-normal.layoutTextDef= ftext2
	select
		option(value= ftextDefault)= ftextDefault
		each foption in foptions
			option.value= foption
			
//mixin fieldDropdown(ftype)
	//.layoutFieldDropdown
		//+fieldText('text', 'large-button', 'Сколько гостей')
		//button(type=ftype).material-icons expand_more
		
mixin fieldTextButtonDown(ftype, fname, ftextDefault)
	.layoutFieldDropdown
		+fieldText('text', fname, ftextDefault)
		button(type=ftype).material-icons expand_more
		
mixin fieldTextButtonRight(ftype, fname, ftextDefault)
	.layoutFieldDropdown
		+fieldText('text', fname, ftextDefault)
		button(type=ftype).material-icons arrow_forward		